*, 
*::before,
*::after{
     padding: 0;
     margin: 0px;
     box-sizing: border-box;
 }
 body{
     font-family: 'Poppins';
     
 }
 a{
     text-decoration: none;
 }
 header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 63px;
    position: fixed;
    max-width: 1350px;
    margin: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    transition: .5s;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    box-sizing: border-box;
    z-index: 5;
    top: 0;
    right: 0;
    left: 0;
    background: #fff;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255, 255, 255);
 }
.medoncall_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-left: 50px;

}
.links{
    text-decoration: none!important;
    text-decoration-line: none !important;
    text-decoration-thickness: initial !important;
    text-decoration-style: initial !important;
    text-decoration-color: initial !important;
}
.links, .links_two{
    color: inherit;
}
.medoncall{
    font-family: Poppins;
    color: #fa3d3d;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}
.ellipse_container{
    display: flex;
}
.ellipse_container .ellipse{
    margin-left: 2px;
    margin-right: 2px;
    width: 10px;
    height: 10px;
}
.nav_container{
    display: flex;
    margin-top: 10px;
    margin-right: 50px;
}
 

 

.box {
    display: none;
    position: absolute;
    top: 35px;
    width: 200px;
    margin-left: -30px;
    background: #fff;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255, 255, 255);
    border: 1px solid #afadad;
    border-top-color: rgb(175, 173, 173);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(175, 173, 173);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(175, 173, 173);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(175, 173, 173);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 2s;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease;
    transition-delay: 0s;


}
.box .box_text_container{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.box .box_text-1{
    cursor: pointer;
    font-weight: 40px;
    color: #000!important;
    transition: .5s;
}
.features{
    font-family: Poppins;
    margin-right: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 12px;
    cursor: pointer;
    transition: .5s;

}
.faq {
    font-family: Poppins;
    margin-right: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 12px;
    cursor: pointer;
    transition: .5s;
}
.contact {
    font-family: Poppins;
    margin-right: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 12px;
    cursor: pointer;
    transition: .5s;
}
.get_it_now{
    padding: 10px 30px;
    background: #fa3d3d;
    border-radius: 5px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #fa3d3d;
    transition: .5s;
    margin-right: 50px;
    z-index: 1;
}
.get_it_now:hover{
    color: #fa3d3d ;
    background: #fff;
    text-decoration: transparent;
}
.body_main_container {
    position: relative;
    max-width: 1350px;
    margin: auto;
}
.body_one_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
#word {
    font-weight: 700;
    font-size: 50px;
    line-height: 92px;
}

     
.built, #word {
    text-align: center;
    font-style: normal;
}
.built {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 20px;
}
.button_container{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.button_container .download_btn{
    padding: 10px 30px;
    background: #fa3d3d;
    border-radius: 5px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #fa3d3d;
    transition: 0.5s;
    margin-right: 50px;
    z-index: 1;
}
.button_container .download_btn:hover{
    color: #fa3d3d;
    background: #fff;
    text-decoration: transparent;
}
.button_container .explore_btn{
    padding: 10px 40px;
    background: #fa3d3d;
    border-radius: 5px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #fa3d3d;
    transition: 0.5s;
    margin-right: 50px;
    z-index: 1; 
}
.button_container .explore_btn:hover{
    color: #fa3d3d;
    background: #fff;
    text-decoration: transparent;
}

.line_one {
    margin-top: 10%;
    margin-left: 20%;
}
.line_two {
    right: 0;
    margin-top: 15%;
    margin-right: 20%;
}
.line_one, .line_two {
    position: absolute;
    top: 0;
    z-index: -1;
}
.rectangle_one{
    margin-top: 100px;
    z-index: 1;
}
.rectangle_two {
    position: absolute;
    margin-top: 20%;
    margin-left: -25%;
    z-index: -2;
}
.personalised_container {
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
}
.personalised_main_container {
    margin-top: -300px;
}
.box_shadow2{
    webkit-filter: drop-shadow(47.77px 68.24px 136.48px rgba(0,0,0,.17));
    filter: drop-shadow(47.77px 68.24px 136.48px rgba(0,0,0,.17));
    
}
.personalised_main_container 
.personalised_sub_container {
    margin-bottom: 100px;
}
.personalised_main_container .speed {
    border-radius: 10px;
    padding: 10px;
    background: #faebeb;
    color: #fa3d3d;
}
.css-vubbuv {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}
.personalised_main_container .personalised {
    font-weight: 700;
    font-size: 20px;
    line-height: 47px;
}
.personalised_main_container p {
    font-size: 16px;
    line-height: 24px;
}
.vector8_container {
    display: flex;
    justify-content: space-around;
}
.vector8_container .do_more {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 92px;
    margin-top: 200px;
}
.screenShot_container {
    display: flex;
    justify-content: space-around; 
    margin-top: 100px;
}
.screenShot_container 
.pink_a_service_main_container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.screenShot_container
.pink_a_service_main_container
.vertical_line{
    font-weight: 700;
    font-size: 25px;
    line-height: 37px;
    transition: 0.5s;
    display: inline-block;
    position: relative;
}
 
 
 
.screenShot_container p{
    font-size: 16px;
    line-height: 24px;
}
 
.vertical_line::before{
     position: absolute;
     content: "";
     left: 0;
     bottom: 3px;
     width: 0;
     height: 3px;
     background-color: #fa3d3d;
     transition: width 0.25s ease-out;
}
.vertical_line:hover:before{
    width: 100%;
}
.screenShot_container
.pink_a_service_container_two{
    margin-top: 60px;
}
.book_c_container {
    max-width: 1350px;
    margin: auto;
}
.book_c_container .book_c {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 92px;
    display: flex;
    justify-content: flex-start;
    margin-left: 80px;
    margin-bottom: 60px;
    margin-top: 200px;
}
.schedule_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.schedule_container
.schedule_sub_container {
    border: 1px solid #c9cccd;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 25px;
}
.schedule_container .schedule {
    font-weight: 700;
    font-size: 25px;
    line-height: 37px;
    transition: .5s;
    color: #fa3d3d;
}
.screenshot_two_three_container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.screenshot_two_three_container .vector_fb {
    margin-bottom: 250px;
    margin-left: 10px;
    margin-right: 10px;
}
.learn_more_about_container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.learn_more_about_container .learn_more_about {
    padding: 10px 30px;
    background: #fa3d3d;
    border-radius: 5px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #fa3d3d;
    transition: .5s;
    margin-right: 50px;
    z-index: 1;
    margin-left: 55px;
}
.learn_more_about:hover{
    color: #fa3d3d ;
    background: #fff;
    text-decoration: transparent;
}
.rectangle_container {
    max-width: 1350px;
    margin: auto;
}
.pharmacy_container {
    display: flex;
    justify-content: flex-end;
    margin-right: 80px;
    margin-top: -500px;
}
.pharmacy_container .pharmacy {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 92px;
    text-align: end;
}
.read_more_container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 50px;
}
.read_more_container .read_more {
    padding: 10px 30px;
    background: #fa3d3d;
    border-radius: 5px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #fa3d3d;
    transition: .5s;
    margin-right: 50px;
    z-index: 1;
}
.read_more:hover{
    color: #fa3d3d ;
    background: #fff;
    text-decoration: transparent;
}
.vector6_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}
.vector6_container .vector6 {
    margin-top: 150px;
}
.vector6_container .drugs_container {
    text-align: center;
    background: #fff;
    box-shadow: 0 4px 50px rgb(0 0 0 / 10%);
    border-radius: 20px;
    padding: 30px;
}
.vector6_container .drugs {
    border-radius: 10px;
    padding: 10px;
    background: #faebeb;
    color: #fa3d3d;
}
.vector6_container .buy {
    font-weight: 700;
    font-size: 25px;
    line-height: 37px;
    transition: .5s;
    color: #fa3d3d;
}
.vector6_container .drugs_container p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: black;
}
.stay_ahead {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 92px;
    display: flex;
    justify-content: flex-start;
    margin-left: 80px;
    margin-bottom: 60px;
    margin-top: 200px;
}
.rectangle_container_two {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-left: 40px;
    margin-right: 40px;
}
.rectangle_container_two .rectangle_10 {
    margin-right: -150px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-image: url("rectangle10.svg");
}
.rectangle_container_two .rectangle_10, 
.rectangle_container_two .rectangle_11 {
    width: 30%;
    height: 300px;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.rectangle_container_two .rectangle_11 {
    margin-right: -100px;
    background-image: url("rectangle11.svg");
    text-align: center;
    font-weight: 700;
    font-size: 39.06px;
    line-height: 59px;
    color: #e9ebeb;
}
.rectangle_container_two .rectangle_11 .vaccine {
    margin-top: 230px;
}

.rectangle_container_two .rectangle_12 {
    width: 30%;
    height: 300px;
    margin-right: -100px;
    text-align: center;
    font-weight: 700;
    font-size: 39.06px;
    line-height: 59px;
    color: #e9ebeb;
    background-image: url("rectangle12.svg");
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.rectangle_container_two .rectangle_12 .break_through {
    margin-top: 169px;
}
.rectangle_container_two .rectangle_13 {
    width: 30%;
    height: 300px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 39.06px;
    line-height: 59px;
    color: #e9ebeb;
    background-image: url("rectangle13.svg");
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.rectangle_container_two .rectangle_13 .research {
    margin-top: 230px;
}
.rectangle02_container {
    max-width: 1350px;
    margin: auto;
}
.rectangle02{
    margin-bottom: 53px;
    margin-top: 200px;
}
.app_store_container {
    margin-top: -250px;
}
.get_it_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.get_it_container .get_it {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 92px;
}

.app_store_main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.google_store{
    margin-right: 20px;
}
.apple_store, .google_store{
    cursor: pointer;
}
footer {
    background: #181f23;
    
    font-family: Poppins;
    
    margin: auto;
}
.footer_one_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.medoncall_main_container
.medoncall_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-left: 50px;
}
.medoncall_main_container 
.medoncall {
    font-family: Poppins;
    color: #fa3d3d;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}
.medoncall_main_container 
.ellipse_container {
    display: flex;
}
.footer_address {
    margin-left: 50px;
    margin-top: 20px;
}
.footer_company_container {
    margin-right: 100px;
}
.footer_address, 
.footer_company_container {
    font-style: normal;
    font-size: 10.24px;
    line-height: 24px;
    color: #e9ebeb;
}
.footer_two_container {
    display: flex;
    margin-top: 80px;
    margin-right: 50px;
}
.footer_header_text {
    font-style: normal;
    font-weight: 600;
    font-size: 12.8px;
    line-height: 24px;
    margin-top: -20px;
    margin-bottom: 20px;
}
.footer_features_container {
    margin-right: 100px;
}
 
.footer_3_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}
.footer_all_right {
    margin-left: 50px;
}
.footer_all_right, 
.footer_features_container, 
.footer_help_container {
    color: #e9ebeb;
    font-style: normal;
    font-size: 10.24px;
    line-height: 24px;
}
.footer_apptide {
    color: #e9ebeb;
    font-style: normal;
    font-size: 10.24px;
    line-height: 24px;
    word-spacing: 2px;
}
.footer_apptide a {
    color: #fa3d3d;
}
.footer_icon_container {
    margin-right: 50px;
}

 .hamburger{
     display: none;
     cursor: pointer;
 }
 .bar{
     display: block;
     width: 25px;;
     height: 3px;
     margin: 5px auto;
     -webkit-transition: all 0.3s ease-in-out;
     transition: all 0.3s ease-in-out;
     background-color: #fa3d3d;
 }
 .box_shadow1 img{
    width:320px; 
    height:720px;
 }
 .box_shadow2 img{
    width:320px; 
    height:720px;
 }

 @media only screen and (max-width:1150px){
    .line_one, .line_two {
        display: none;
    }
 }
 @media only screen and (max-width:870px){
     .hamburger{
         display: block;
         margin-right:30px;
     }
     .hamburger.active .bar:nth-child(2){
         opacity: 0;
     }
     .hamburger.active .bar:nth-child(1){
       transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
     }
     .nav_container{
         position: fixed;
         right:-100%;
         top:10%;
         gap:0 ;
         flex-direction: column;
         background-color: #fff;
         width: 40%;
         text-align: center;
         transition: 0.3s;
         border-radius:20px ;     
     }
    .links{
         margin: 15px 10px;
     }
     
    .nav_container.active{
        right: 0;
    }
    .get_it_now{
        padding: 10px 15px;
    }
    .medoncall{
        font-size: 20px;
    }
    #word{
        font-size: 30px;
     
    }
     
    .line_one, .line_two {
        display: none;
    }
    .screenShot_container, 
    .pink_a_service_main_container,
    .pink_a_service p{
        grid-template-columns: 1fr;
        margin-top: 0px;
        margin-left: 20px;
    } 
    .box_shadow2{
        width:250px;
        height: 520px;
        grid-template-columns: 2fr;
        display: none;
        webkit-filter: drop-shadow(47.77px 68.24px 136.48px rgba(0,0,0,.17));
        filter: drop-shadow(47.77px 68.24px 136.48px rgba(0,0,0,.17));
    }
    .rectangle_one{
        display: none;
    }
    .rectangle_two {
        display: none;
    }
    .vector2{
        display: none;
    }
    .box_shadow1 img{
        margin-bottom:350px;
        width:250px;
        height: 520px;
         
     }
     .personalised_container{
         display: block;
         margin: 80px 30px;
         align-items: center;
         justify-content: center;
         text-align: center;

     }
     .personalised {
         text-align: center;
     }
     .vector{
         display:none;
     }
     .vector8_container .do_more {
         margin-top: 0;
         font-size: 30px;
          grid-template-columns: 1fr;
     }
     .book_c_container .book_c{
         font-size: 30px;
         margin-left:15px;
         margin-top: 50px;
     }
     .schedule_container{
          display:block ;
         margin-bottom: 0;
         text-align: center;

     }
     .pharmacy_container 
     .pharmacy{
          font-size: 30px;
          text-align: center;
          line-height: 50px;
     }
    .read_more_container
    .read_more{
        
    }
    .vector6{
        display: none;
    }
      
     .box_shadow{
         display: none;
     }
     .vector_fb{
         display: none;
     }
     .learn_more_about_container 
     .learn_more_about{
         margin-top: 0px;
     }
     .schedule_sub_container {
        border: 1px solid #c9cccd;
        box-sizing: border-box;
        border-radius: 20px;
        padding: 25px;
        margin: 40px 60px;
    }
     
     
    .vector6_container .drugs {
        border-radius: 10px;
        padding: 10px;
        background: #faebeb;
        color: #fa3d3d;
        grid-template-columns: 1fr;
    }
    .vector6_container{
        display: block;
        
    }
    .vector6_container .buy {
        font-weight: 700;
        font-size: 20px;
        line-height: 35px;
        transition: 0.5s;
        color: #fa3d3d;
        
         
    }
    .mega{
        display: none;
    }
    .vector6_container .drugs_container p {
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: black;
    }
    .rectangle_container {
        max-width: 1350px;
        margin: auto;
    }
    .rectangle02{
        margin-top: 0;
        display: none;
    }
     
         
    .app_store_container{
        margin-top: 100px;
    }




    .app_store_main_container{
        margin-bottom: 10px;
    }
    .footer_company_container {
        margin-left: 40px;
    }
     
     
     
     .footer_features_container{
         margin-left: 20px;
     }
    
     .medoncall_main_container
     .medoncall_container {
         display: none;
     }
      .footer_address{
          display: none;
      }
      .pharmacy_container {
        display: flex;
        justify-content: center; 
        margin-top: 100px;
    }
    .pharmacy_container .pharmacy {
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
        text-align: end;
        text-align: center;
    }
    .rectangle2{
        display: none;
    }
    .read_more_container .read_more {
         margin-right: 100px;
    }
    .apple_store{
        width:200px;
    } 
    .google_store{
        width:200px;
    }
    .read_more_container {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-left:140px;
    }
    .get_it_container .get_it{
        font-size:30px ;
    }
 }

    
